/* Adding custom CSS styles here */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Fustat&family=Source+Sans+3:wght@200..900&display=swap");

/* Font Family References

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.fustat-jw {
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-jw {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

body {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1.test {
  color: blueviolet;
}

.test-text {
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  background-color: black;
  min-height: 70vh;
  color: #666;
  text-align: center;
  position: relative;
}

.box {
  width: 142px;
  height: 142px;
  border-radius: 16px;
  display: inline-block;
  transform: scale(0.7);
  transform-origin: center center;
  opacity: 0;
}

.green-gradient {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

/* Set the scroll wrapper */

.scroll-effect {
  background-color: black;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Section 1 */
section.one {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: hidden;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 100vh;
}

/* UI Frame wrapper */
.ui-frame {
  background-color: transparent;
  max-width: 1149px;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.ui-frame img {
  border: 1px solid #666;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* UI Images grid */
.ui-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  position: absolute;
  left: 8%;
  top: 12%;
  opacity: 1;
  /* max-width: 779px; */
  padding-right: 24%;
}

.ui-image-grid img {
  border-radius: 0.5rem;
  max-width: 242px;
  max-height: 171px;
}

.image-grid-tile--invisible {
  opacity: 0;
}

/* Timeline for SCROLL EFFECT TRIGGERS */

.tl_timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: grey;
}

.tl_row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.tl_row > div {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

/* Dunes styling */

.dune-tile {
  height: 171px;
  width: 242px;
  background: orange;
  overflow: hidden;
  color: white;
  background: url("assets/Dune-bg1@1x.webp") no-repeat center center;
  background-size: cover;
  border-radius: 0.5rem;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-96%, -55%);

  opacity: 1;
  z-index: 10;
}

.echos-wrap {
  position: absolute;
  top: 6%;
  left: -2%;
  width: 105%;
}
.dune-tile__echoes {
  font-size: 72px;
  display: inline;
  opacity: 0.5;
}
.across-wrap {
  width: 100%;
  position: absolute;

  top: 62%;
  left: 50%;
  transform: translate(-20%, -50%);
}
.dune-tile__across {
  font-size: 42px;
  line-height: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}
.through-wrap {
  width: 100%;
  position: absolute;

  top: 65%;
  left: 50%;
  transform: translate(-20%, -65%);
  opacity: 1;
}
.dune-tile__through {
  font-size: 34px;
  line-height: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}
.dune-tile__the {
  font-size: 12px;
  margin-bottom: 1rem;
}
.dune-tile__dunes {
  font-size: 24px;
}
.dune-tile__the-dunes {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 5%;
}

.dune-tile__bg2,
.dune-tile__bg3,
.dune-tile__bg4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dune-tile__bg2 {
  background: url("assets/Dune-bg2@1x.webp") no-repeat center center;
  background-size: cover;
}
.dune-tile__bg3 {
  background: url("assets/Dune-bg3@1x.webp") no-repeat center center;
  background-size: cover;
}
.dune-tile__bg4 {
  background: url("assets/Dune-bg4@1x.webp") no-repeat center center;
  background-size: cover;
}

.text-box {
  max-width: 310px;
  padding: 2.5rem;
  background: #141414;
  border: 1px solid #606060;
  border-radius: 12px;
  position: absolute;

  z-index: 100;
}

.text-box p {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #9e9e9e;
  margin: 0;
}
.text-box h4 {
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #f6f6f6;
  letter-spacing: -0.2;
  margin: 0 0 16px 0;
}

/* text boxes */
.text-box--1 {
  left: 15%;
  top: 10%;
}
.text-box--2 {
  right: 15%;
  top: 15%;
}
.text-box--3 {
  left: 10%;
  top: 35%;
}
.text-box--4 {
  right: 25%;
  bottom: 10%;
}
.text-box--5 {
  left: 15%;
  top: 15%;
}

.inspector-panel-ui {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-210%);
  z-index: 50;
  opacity: 1;
}
/* Dune layers */

.dunes-blank {
  position: absolute;
  width: 1150px;
  height: 812px;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -53%);
  overflow: hidden;
  border-radius: 2.5rem;
  /* opacity: 0.7; */
  opacity: 0;
}

.dunes-blank--2 {
  transform: translate(-49%, -49%);
  /* opacity: 0.5; */
  opacity: 0;
}
.dunes-blank--3 {
  transform: translate(-45%, -45%);
  /* opacity: 0.25; */
  opacity: 0;
}

.analytics-dashboard {
  max-width: 1180px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 8%;
  opacity: 0;
}

.cursor {
  font-size: 16px;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 100;
  overflow: visible;
}

.cursor img {
  position: absolute;
  width: 24px;
  height: auto;
  top: -20px;
  left: -20px;
}

.cursor--designer {
  font-size: 18px;
  background-color: #ffc042;
  top: 5%;
  left: 50%;
  transform: translate(1550%, -50%);
}
.cursor--marketer {
  background-color: #f17eb4;
  top: 50%;
  left: 50%;
  transform: translate(-1400%, -50%);
}
.cursor--boss {
  background-color: #84d18d;
  top: 70%;
  left: 40%;
  transform: translate(500%, 1100%);
  opacity: 0;
}

.designer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 500;
  transform: translate(-37%, -00%);
}

.dunes-mobile {
  position: absolute;
  top: 80vh;
  right: 6%;
  opacity: 0;
  z-index: 11;
}

.horizontal-scroll__wrapper {
  height: 100vh;
  width: 100%;
  overflow: visible;
  margin: 0;
  padding: 0;
}
.horizontal-scroll__track {
  height: 100vh;
  width: auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5%;
  overflow: visible;
}

.dune-spacer {
  display: block;
  min-width: 50vw;
  height: 100px;
}
.dune-spacer2 {
  display: block;
  min-width: 70vw;
  height: 100px;
}
.dunes-desktop {
  width: 822px;
  height: 503px;
  transform: translate(0%, -20%);
  /* position: absolute;
  top: -30px;
  left: 0px; */
}

.dunes-card {
  width: 246px;
  height: 520px;
  transform: translate(-0%, 20%);
  /* position: absolute;
  left: 112px;
  bottom: -23px; */
}

.dunes-desktop2 {
  width: 618px;
  height: 378px;
  transform: translate(-20%, -20%);
  /* position: absolute;
  left: 437px;
  top: 392px; */
}

.dunes-video {
  width: 281px;
  height: 354px;
  transform: translate(-40%, 0%);
  /* position: absolute;
  left: 1200px;
  top: 100px; */
}

.dunes-tablet {
  width: 502px;
  height: 619px;
  transform: translate(-20%, 0%);
  /* position: absolute;
  left: 1630px;
  top: 200px; */
}

.h-dune {
  display: inline-block;
}
